# The following secrets (with your own credentials) must be setup
# in GitHub Secrets so the deployment workflows can use them.

# Deno Deploy

DENO_DEPLOY_ORG=orgnameltd
DENO_DEPLOY_PROJECT=site1
DENO_DEPLOY_TOKEN=ddp_xxxyyyzzz111
