[submodule "src/upcomingtasks"]
	path = src/upcomingtasks
	url = git@github.com:bcm-id-au/upcomingtasks.git
[submodule "src/schnitmydadsays"]
	path = src/schnitmydadsays
	url = git@github.com:bcm-id-au/schnitmydadsays.git