GCP_PROJECT_ID="my-project-12345"
GCP_REGION="australia-southeast1"
GCP_ARTIFACT_REPOSITORY="links"
CLOUD_RUN_SERVICE="links"
GITHUB_REPOSITORY="owner/repo"
GCP_WORKLOAD_POOL="example-workload-name"
# Optional
# LINKS_DOMAIN="links.example-domain.com"
# GCP_DNS_ZONE="example-domain-com"
# GCP_DNS_NAME="example-domain.com."
GCP_SERVICE_ACCOUNT=
GCP_WORKLOAD_PROVIDER=
