GCP_PROJECT_ID="my-project"
GCP_REGION="australia-southeast1"
GCP_ARTIFACT_REPOSITORY="bcm-links"
CLOUD_RUN_SERVICE="bcm-links"
GITHUB_REPOSITORY="owner/repo"
# Optional
# LINKS_DOMAIN="links.example-domain.com"
# GCP_DNS_ZONE="example-domain-com"
# GCP_DNS_NAME="example-domain.com."
GCP_SERVICE_ACCOUNT=
GCP_WORKLOAD_POOL=
GCP_WORKLOAD_PROVIDER=
LINKS_DOMAIN=
GCP_DNS_ZONE=
GCP_DNS_NAME=
