# App
NEXTAUTH_SECRET=replace_with_a_long_random_string
MEILI_MASTER_KEY=replace_with_another_long_random_string
NEXTAUTH_URL=http://localhost:3333

# AI
OPENAI_API_KEY=
INFERENCE_TEXT_MODEL=gpt-4.1-mini
INFERENCE_IMAGE_MODEL=gpt-4o-mini

# Parakeep
DISABLE_SIGNUPS=true
