# Avoid copying Deno/npm directories
.deno/
node_modules/
.npm/

# Avoid copying local build artifacts
build/
public/
_site/

# Ignore local environment variables and secrets
.env
.env.*
!.env.sample

# Git metadata
.git/
.github/
.gitignore

# IDE configurations
.vscode/
.zed/
.antigravitycli/

# System files and log files
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
