# Temporary build directory
BUILD_DIR="build"

# Static build output directory
PUBLIC_DIR="public"

# Site details
SITE_AUTHOR="Brendan Murty"
SITE_URL="https://murty.au/"
SITE_LANG="en-GB"

# Blog posts
BLOG_POSTS_DIR="content/posts"
BLOG_POSTS_URL="https://murty.au/posts/"
JSON_FEED_TITLE="Posts by Brendan Murty"
JSON_FEED_DESCRIPTION="Brendan is a Father, Schnitzel Reviewer, Software Engineering Manager and Technical Lead."
JSON_FEED_DEFAULT_TITLE="Post by Brendan Murty"
JSON_FEED_FILE="public/brendan/posts.json"
JSON_FEED_URL="https://murty.au/brendan/posts.json"
